<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
	
	<style>
	.container {
	    padding-top: 10px;
	    margin-left: 50px;
	    width: 700px;
	}

	.form-horizontal {
	    width: 100%;
	}


	.navbar .nav > li > a {
	    color: #000000;
	}

	.form-horizontal .control-label {
	    text-align: left;
	}
	</style>
	
	<title>Playlist App</title>
</head>
<body> 
<h1>Sök Artist</h1>

<div class="container">

	<ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#" th:href="@{/}">Sök</a></li>
      <li role="presentation"><a href="#" th:href="@{/playlist}">Spellistor</a></li>
    </ul>

	<form th:action="@{/search}" method="post">
      <input type="text" id="inputSearchArtist" name="q" class="form-control" 
      	placeholder="Sök Artist" autofocus="true" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sök</button>
   	</form>
   	
   	<div th:if="${searchResult != null } ">
	<h2>Artister</h2>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="a : ${searchResult.artists}">
			<td ><img th:src="${a.imageSmall.url}" /></td>
			<td th:text="${a.name}"></td>
			<td ><a th:href="@{|/artist/${a.id}/tracks|}"   >Låtar</a></td>
		</tr>
	</table>
	</div>
	
	<div th:if="${tracksResult != null } ">
	<h2>Låtar</h2>
	<div><img th:src="${tracksResult.artistImage.url}"/></div>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="albumAndTrack : ${tracksResult.albumAndTracksList}">
			<td ><img th:src="${albumAndTrack.album.imageSmall.url}"/></td>
			<td th:text="${albumAndTrack.track.name}"></td>
			<td ><a th:href="@{|/playlist/add/track/${artistId},${albumAndTrack.track.id}/|}"   >Lägg till</a></td>
		</tr>
	</table>
	</div>
   	
</div>

</body>
</html>