<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
	
	<style>
	.container {
	    padding-top: 10px;
	    margin-left: 50px;
	    width: 700px;
	}

	.form-horizontal {
	    width: 100%;
	}


	.navbar .nav > li > a {
	    color: #000000;
	}

	.form-horizontal .control-label {
	    text-align: left;
	}
	</style>
	
	<title>Playlist App</title>
</head>
<body> 
<h1>Spellistor</h1>

<div class="container">

	<ul class="nav nav-tabs">
      <li role="presentation" ><a href="#" th:href="@{/}">Sök</a></li>
      <li role="presentation" class="active"><a href="#" th:href="@{/playlist}">Spellistor</a></li>
    </ul>
    
    <form th:action="@{/playlist/create}" method="post">
      <input type="text" id="inputPlaylistname" name="name" class="form-control" 
      	placeholder="Spellista namn" autofocus="true" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Skapa</button>
   	</form>
    
    <div th:if="${playlists != null } ">
	<h2>Spellistor</h2>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th></th>
			<th th:if="${addTrackId != null}"></th>
		</tr>
		<tr th:each="pl : ${playlists}">
			<td  ><a href="" th:href="@{|/playlist/${pl.playlistId}/tracks|}" ><span th:text="${pl.name}"></span></a></td>
			<td ><a th:href="@{|/playlist/delete/${pl.playlistId}|}"   >Radera</a></td>
			<td th:if="${addTrackId != null}"><a th:href="@{|/playlist/${pl.playlistId}/add/track/${addTrackToArtist},${addTrackId}|}"   >Lägg till låt</a></td>
		</tr>
	</table>
	</div>
    
</div>

</body>
</html>